WpfReportCreator/Service References/ServiceReferenceVHP/VHPService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3622/VHPService.svc?xsd=xsd2" namespace="http://www.newlifechou.com" />
  <xs:element name="GetVHPs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVHPsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://www.newlifechou.com" minOccurs="0" name="GetVHPsResult" nillable="true" type="q1:ArrayOfVHP" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVHPCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVHPCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetVHPCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>