WpfReportCreator/Service References/ServiceReferenceSampleReport/SampleReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.newlifechou.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.newlifechou.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.newlifechou.com/Imports">
      <xsd:import schemaLocation="http://localhost:3622/SampleReportService.svc?xsd=xsd0" namespace="http://www.newlifechou.com" />
      <xsd:import schemaLocation="http://localhost:3622/SampleReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISampleReportService_GetSamples_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSamples" />
  </wsdl:message>
  <wsdl:message name="ISampleReportService_GetSamples_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSamplesResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleReportService_GetSampleCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSampleCount" />
  </wsdl:message>
  <wsdl:message name="ISampleReportService_GetSampleCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSampleCountResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleReportService_AddSample_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSample" />
  </wsdl:message>
  <wsdl:message name="ISampleReportService_AddSample_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSampleResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleReportService_UpdateSample_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSample" />
  </wsdl:message>
  <wsdl:message name="ISampleReportService_UpdateSample_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSampleResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleReportService_DeleteSample_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSample" />
  </wsdl:message>
  <wsdl:message name="ISampleReportService_DeleteSample_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteSampleResponse" />
  </wsdl:message>
  <wsdl:portType name="ISampleReportService">
    <wsdl:operation name="GetSamples">
      <wsdl:input wsaw:Action="http://www.newlifechou.com/ISampleReportService/GetSamples" message="tns:ISampleReportService_GetSamples_InputMessage" />
      <wsdl:output wsaw:Action="http://www.newlifechou.com/ISampleReportService/GetSamplesResponse" message="tns:ISampleReportService_GetSamples_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSampleCount">
      <wsdl:input wsaw:Action="http://www.newlifechou.com/ISampleReportService/GetSampleCount" message="tns:ISampleReportService_GetSampleCount_InputMessage" />
      <wsdl:output wsaw:Action="http://www.newlifechou.com/ISampleReportService/GetSampleCountResponse" message="tns:ISampleReportService_GetSampleCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSample">
      <wsdl:input wsaw:Action="http://www.newlifechou.com/ISampleReportService/AddSample" message="tns:ISampleReportService_AddSample_InputMessage" />
      <wsdl:output wsaw:Action="http://www.newlifechou.com/ISampleReportService/AddSampleResponse" message="tns:ISampleReportService_AddSample_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSample">
      <wsdl:input wsaw:Action="http://www.newlifechou.com/ISampleReportService/UpdateSample" message="tns:ISampleReportService_UpdateSample_InputMessage" />
      <wsdl:output wsaw:Action="http://www.newlifechou.com/ISampleReportService/UpdateSampleResponse" message="tns:ISampleReportService_UpdateSample_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSample">
      <wsdl:input wsaw:Action="http://www.newlifechou.com/ISampleReportService/DeleteSample" message="tns:ISampleReportService_DeleteSample_InputMessage" />
      <wsdl:output wsaw:Action="http://www.newlifechou.com/ISampleReportService/DeleteSampleResponse" message="tns:ISampleReportService_DeleteSample_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>