WpfReportCreator/Service References/ServiceReferenceTargetReport/TargetReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.newlifechou.com" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.newlifechou.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.newlifechou.com/Imports">
      <xsd:import schemaLocation="http://xs-laptop:8001/TargetReportService.svc?xsd=xsd0" namespace="http://www.newlifechou.com" />
      <xsd:import schemaLocation="http://xs-laptop:8001/TargetReportService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://xs-laptop:8001/TargetReportService.svc?xsd=xsd2" namespace="Http://www.newlifechou.com" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITargetReportService_GetTargets_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTargets" />
  </wsdl:message>
  <wsdl:message name="ITargetReportService_GetTargets_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTargetsResponse" />
  </wsdl:message>
  <wsdl:message name="ITargetReportService_GetTargetsByCondition_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTargetsByCondition" />
  </wsdl:message>
  <wsdl:message name="ITargetReportService_GetTargetsByCondition_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTargetsByConditionResponse" />
  </wsdl:message>
  <wsdl:message name="ITargetReportService_GetTargetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTargetCount" />
  </wsdl:message>
  <wsdl:message name="ITargetReportService_GetTargetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTargetCountResponse" />
  </wsdl:message>
  <wsdl:message name="ITargetReportService_AddTarget_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTarget" />
  </wsdl:message>
  <wsdl:message name="ITargetReportService_AddTarget_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTargetResponse" />
  </wsdl:message>
  <wsdl:message name="ITargetReportService_UpdateTarget_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTarget" />
  </wsdl:message>
  <wsdl:message name="ITargetReportService_UpdateTarget_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTargetResponse" />
  </wsdl:message>
  <wsdl:message name="ITargetReportService_DeleteTarget_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTarget" />
  </wsdl:message>
  <wsdl:message name="ITargetReportService_DeleteTarget_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTargetResponse" />
  </wsdl:message>
  <wsdl:portType name="ITargetReportService">
    <wsdl:operation name="GetTargets">
      <wsdl:input wsaw:Action="http://www.newlifechou.com/ITargetReportService/GetTargets" message="tns:ITargetReportService_GetTargets_InputMessage" />
      <wsdl:output wsaw:Action="http://www.newlifechou.com/ITargetReportService/GetTargetsResponse" message="tns:ITargetReportService_GetTargets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTargetsByCondition">
      <wsdl:input wsaw:Action="http://www.newlifechou.com/ITargetReportService/GetTargetsByCondition" message="tns:ITargetReportService_GetTargetsByCondition_InputMessage" />
      <wsdl:output wsaw:Action="http://www.newlifechou.com/ITargetReportService/GetTargetsByConditionResponse" message="tns:ITargetReportService_GetTargetsByCondition_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTargetCount">
      <wsdl:input wsaw:Action="http://www.newlifechou.com/ITargetReportService/GetTargetCount" message="tns:ITargetReportService_GetTargetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://www.newlifechou.com/ITargetReportService/GetTargetCountResponse" message="tns:ITargetReportService_GetTargetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTarget">
      <wsdl:input wsaw:Action="http://www.newlifechou.com/ITargetReportService/AddTarget" message="tns:ITargetReportService_AddTarget_InputMessage" />
      <wsdl:output wsaw:Action="http://www.newlifechou.com/ITargetReportService/AddTargetResponse" message="tns:ITargetReportService_AddTarget_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTarget">
      <wsdl:input wsaw:Action="http://www.newlifechou.com/ITargetReportService/UpdateTarget" message="tns:ITargetReportService_UpdateTarget_InputMessage" />
      <wsdl:output wsaw:Action="http://www.newlifechou.com/ITargetReportService/UpdateTargetResponse" message="tns:ITargetReportService_UpdateTarget_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTarget">
      <wsdl:input wsaw:Action="http://www.newlifechou.com/ITargetReportService/DeleteTarget" message="tns:ITargetReportService_DeleteTarget_InputMessage" />
      <wsdl:output wsaw:Action="http://www.newlifechou.com/ITargetReportService/DeleteTargetResponse" message="tns:ITargetReportService_DeleteTarget_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>