WpfReportCreator/Service References/ServiceReferenceTargetReport/TargetReportService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.newlifechou.com" elementFormDefault="qualified" targetNamespace="http://www.newlifechou.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://xs-laptop:8001/TargetReportService.svc?xsd=xsd2" namespace="Http://www.newlifechou.com" />
  <xs:element name="GetTargets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="Http://www.newlifechou.com" minOccurs="0" name="GetTargetsResult" nillable="true" type="q1:ArrayOfTarget" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetCount">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTargetCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTargetCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTarget">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="Http://www.newlifechou.com" minOccurs="0" name="product" nillable="true" type="q2:Target" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTargetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTargetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTarget">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="Http://www.newlifechou.com" minOccurs="0" name="product" nillable="true" type="q3:Target" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTargetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateTargetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTarget">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="Http://www.newlifechou.com" minOccurs="0" name="product" nillable="true" type="q4:Target" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTargetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTargetResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>